* {
  padding: 0;
}
.list {
  max-width: 1000px;
  margin: auto;
  list-style-type: none;
}
p {
  font-weight: 700;
  font-size: 24px;
}
.card {
  border: 2px solid white;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
div::before,
div::after {
  content: "";
  width: 15px;
  background-color: white;
  height: 3px;
  display: block;
  position: relative;
  height: 3px;
}
div::after {
  top: 5px;
  right: -2px;
  transform: rotate(131deg);
}
div::before {
  transform: rotate(44deg);
  top: 8px;
  right: -3px;
}
