@import "./_var.scss";
.footer {
  background-color: black;
  padding-top: 6%;
  padding-bottom: 6%;
  &__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  &__text {
    color: $footer-text-color;
    font-size: 16px;
    text-align: center;
    margin-bottom: 37px;
  }

  &__links {
    display: flex;
    margin: auto;
    width: 192px;
    justify-content: space-between;
    align-items: center;
  }

  .text-contakt {
    text-align: center;
    font-size: 16px;
    color: $footer-text-color;
    margin-top: 34px;
  }
  @media (max-width: 768px) {
    .text-contakt {
      margin-top: 25px;
      font-size: 14px;
    }
    &__title {
      font-size: 14px;
    }
    &__text {
      margin-bottom: 26px;
      font-size: 14px;
    }
  }
}
