@mixin burgel-line{
    position: absolute;
        width: 17px;
        height: 2px;
        background-color: white;
}
@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}