.conteiner {
  width: 1280px;
  margin: 0 auto;
}
.logo-link {
  text-decoration: none;
  font-size: 80px;
  color: #000000;
  line-height: 93px;
}
.color-logo {
  color: #4bcaff;
}
.header-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #35444f;
  border: 1px solid #ffffff;
  font-size: 24px;
  margin-top: 38px;
  margin-bottom: 48px;
}
.item-header-menu:last-child {
  border-right: 1px solid #fff;
}

.link-menu {
  text-decoration: none;
  color: white;
}

.item-header-menu {
  padding: 26px 35px 19px 35px;
  border-left: 1px solid #fff;
}
.contriner-aside-main {
  display: flex;
  justify-content: center;
}

.contriner-img {
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-list {
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  padding: 0;
  list-style-type: none;
  margin: 0 52px 0 0;
}

.aside-item {
  font-size: 27px;
  padding: 23px 0 27px 44px;
}
.aside-item-link {
  text-decoration: none;
  color: #485863;
}
.content-text {
  margin-top: 37px;
}
.footer-menu-list {
  display: flex;

  list-style-type: none;
  padding-left: 40px;

  color: #0c1927;

  margin: 0;
}

.item-menu-footer {
  font-size: 28px;
  line-height: 28px;
  padding: 20px 30px 20px 0;
}

.menu-footer-link {
  text-decoration: none;
  color: #0c1927;
}

main {
  width: 885px;
}
.footer-menu {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  background: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
}
.footer-Copyright {
  margin: 0;
  padding-left: 135px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
}
