body {
  background-image: url(../img/Фон\ 1.png);
}
.header-page {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}
.container-part-left {
  display: flex;
}
.JOURNE-logo {
  color: white;
  padding-top: 18px;
  padding-left: 79px;
  margin: 0;
}
svg {
  margin-top: 17px;
  margin-left: 25px;
  margin-bottom: 17px;
}
.text-Sign-Up {
  margin: 0;
  padding-right: 79px;
  padding-top: 22px;
  color: #ffffff;
}
.text-log-in {
  color: #ffffff;
  padding-top: 22px;
  padding-left: 27px;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin-top: 54px;
}
.text-SignUp::before {
  content: normal;
  width: 18px;
  height: 18px;
  background: #3cb878;
}
