*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.menu-item {
  display: inline;
  color: red;
  line-height: 18px;
}
main {
  text-align: center;
}

.menu-link {
  color: #ff0000;
  text-decoration: none;
  padding: 30px;
  font-weight: 700;
  font-size: 18px;
}

.header-menu {
  text-align: center;
  padding: 0;
  margin: 25px;
}
.img {
  width: 100%;
}
.color-change {
  background-color: aqua;
}
.button {
  width: 191px;
  height: 51px;
  background-color: #ff0000;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 76px;
  border: none;
}

span {
  color: #ffffff;
}
.title {
  color: #373737;
  margin-bottom: 38px;
  margin-top: 48px;
}

.text {
  margin: 0 67px 12px 67px;
}
.text:last-of-type {
  margin-top: 16px;
}

.footer-text {
  text-align: end;
  margin-bottom: 24px;
  margin-right: 104px;
  color: #373737;
}
