.logo-number {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
}
.call {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
}
.call-number {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  padding-top: 10px;
}
.color-number {
  color: #d6af76;
}
.call-back {
  border: 1px solid #e4b564;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  padding: 10px 25px 10px 49px;
  text-decoration: none;
  color: #e4b564;
}
.call-back::before {
  content: url(../imghw4/Vector.png);
  margin-right: 8px;
}
.heating-network {
  margin-top: 96px;
  margin-bottom: 30px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 28px;

  color: #ffffff;
}
.Infrustructure-text {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;

  color: #ffffff;
}
.Infrustructure {
  background-image: url(../imghw4/header-bg.jpeg);
}
.container {
  width: 1095px;
  margin: 0 auto;
}
.list-Infrustructure {
  display: grid;
  padding: 0;
  grid-template-columns: 350px 164px 164px 350px;
  grid-template-rows: repeat(2, 351px);
  color: #ffffff;
  font-weight: 700;
  line-height: 28px;
  gap: 22px;
  grid-template-areas:
    "item-infrustructure1 item-infrustructure2 item-infrustructure2 item-infrustructure3"
    "item-infrustructure4 item-infrustructure4 item-infrustructure5 item-infrustructure5  ";

  text-align: center;
  list-style-type: none;
  margin-bottom: 0;
}
.item-infrustructure1 {
  grid-area: item-infrustructure1;
  background: #634f2c;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 154px 33px 0 33px;
}
.item-infrustructure2 {
  grid-area: item-infrustructure2;
  background: #b4a385;
  padding: 140px 15px 0 15px;
}

.item-infrustructure3 {
  grid-area: item-infrustructure3;
  background: #e4b564;
  padding: 154px 10px 0 10px;
}
.item-infrustructure4 {
  grid-area: item-infrustructure4;
  background: #635a4a;
  padding: 154px 33px 0 33px;
}
.item-infrustructure5 {
  grid-area: item-infrustructure5;
  background: #b08c4d;
  padding: 154px 33px 0 33px;
}
.technique {
  margin-top: 0;

  background-color: #0e0e0e;
}
.technique-title {
  margin-top: 0;
  color: white;
  padding-top: 125px;
  padding-bottom: 70px;
}
.technique-list {
  display: flex;
  height: 672px;

  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.technique-item1 {
  height: 234px;
  background: #0e0e0e;
  width: 353px;
}
.technique-item2 {
  height: 423px;
  background: #1f1f1f;
  width: 353px;
}
.technique-item3 {
  height: 329px;
  background: #242424;
  width: 353px;
}
.technique-item4 {
  height: 301px;
  background: #e4b564;
  width: 353px;
}
.technique-item5 {
  height: 203px;
  background: #1f1f1f;
  width: 353px;
}
.technique-item6 {
  height: 247px;
  background: #0e0e0e;
  width: 353px;
}
.technique-item7 {
  height: 219px;
  background: #0a0909;
  width: 353px;
}
.technique-link {
  text-decoration: none;
  color: #ffffff;
}
.technique-item {
  padding-left: 38px;
  padding-top: 33px;
}
.Our-clients-projects {
  background-image: url(../imghw4/parallax-bg.jpeg);
}
.Our-clients {
  display: flex;
  justify-content: space-between;
  padding-top: 270px;
}
.all-projects {
  padding: 8px 30px 8px 30px;
  border: 1px solid #e4b564;
  color: #e4b564;
}
.clients-projects {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 293px 293px;
  color: #ffffff;
  display: grid;
  padding: 0;
  list-style-type: none;
}
.cp-item1 {
  background: #634f2c;
  position: relative;
}
.cp-item2 {
  background: rgba(232, 210, 171, 0.76);
  position: relative;
}
.cp-item3 {
  background: #e4b564;
  position: relative;
}
.cp-item4 {
  background: #635a4a;
  position: relative;
}
.cp-item5 {
  background: #b08c4d;
  position: relative;
}
.cp-item6 {
  background: #634f2c;
  position: relative;
}

.contaiter-text {
  opacity: 0;

  height: 100%;
  position: absolute;
  top: 0;
}
.contaiter-text:hover {
  opacity: 1;
}
.clients-projects-img {
  margin: 0 auto;
  padding-top: 128px;
}
.Mavic-img {
  margin: 0 auto;
  padding-top: 50px;
}
.Mavic-img-next {
  margin: 0 auto;
}
.text-clients-project {
  padding: 170px 50px 0 50px;
  text-align: center;
}
.clients-and-projects {
  color: white;
}
