@import "./_mixin.scss";

.header-menu {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  
  max-width: 800px;
  padding-top: 45px;
  padding-bottom: 5%;

  &__link {
    color: #4e4e4e;
    text-transform: uppercase;
  }
  &__link:hover {
    color: #57a4a4;
  }
}
.header-mobile-menu {
  display: none;
}

@media (max-width: 760px) {
  .header-menu {
    display: none;
  }

  .header {
    padding-top: 23px;
    padding-bottom: 63px;
    
    position: relative;
  }

  .header-mobile-menu {
    background: #f5f5f5;
    display: block;
    position: absolute;
    right: 19px;
    top: 44px;
    &__item:hover{
      background-color: #E5E5E5;;

    }

    &__item {
      padding: 6px 65px 4px 14px;
      color: #4e4e4e;
     

    }
    &__link {
      color: #4e4e4e;
      
    }
  }

  .header__burger {
    position: absolute;
    width: 44px;
    height: 37px;
    background-color: #000;
    right: 20px;
    top: 23px;
  }

  .active {
    display: none;
  }

  .header__burger--line {
    @include burgel-line;
    top: 13px;
    right: 13px;
  }

  .header__burger--line::before {
    content: "";
    @include burgel-line;
    top: 4px;
    right: 0;
  }

  .header__burger--line::after {
    content: "";
    @include burgel-line;
    top: 8px;
    right: 0;
  }

  .header__burger--cross {
    @include burgel-line;
    top: 18px;
    right: 13px;
    transform: rotate(48deg);
  }

  .header__burger--cross::after {
    content: "";
    @include burgel-line;
    top: 0px;
    right: 0;
    transform: rotate(82deg);
  }
}
