@import "./_header.scss";
@import "./_footer.scss";
@import "./_var.scss";
@import "./_normalize.scss";

body {
  background-color: white;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1170px;

  box-sizing: content-box;

  margin: auto;
}
.our-post {
  padding-top: 5%;
  padding-bottom: 55px;
}
.our-post-title {
  font-size: $font-size-title;
  font-weight: 700;
  margin: 0 0 3% 0;
  text-transform: uppercase;
}
.post {
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;

  &__item {
    display: flex;
    width: 555px;
  }

  &__container-text {
    padding-left: 10px;
  }

  &__title {
    color: #4e4e4e;
    font-size: $font-size-title;
    margin: 0 0 5px 0;
  }

  &__container-text {
    padding-left: 10px;
  }
  &__comment {
    color: #7c7c7c;
    font-size: 12px;
    margin: 0;
  }

  &__disriptions {
    font-size: 14px;
    color: #5c5c5c;
    margin: 13px 0 0 0;
  }
}

.Instagram-Shots {
  padding-top: 47px;
  padding-bottom: 50px;
  background-color: #f7f7f7;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-text {
    font-size: $font-size-title;
    text-transform: uppercase;
    font-weight: 700;
    color: #4e4e4e;
  }

  &__title-link {
    color: #4e4e4e;
    text-transform: uppercase;
    font-size: 13px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 1170px;
    height: 285px;
    justify-content: space-evenly;
  }
  &__item {
    padding-right: 5px;
    width: 285px;
    height: 285px;
  }
}



@media screen and (max-width: 760px) {
  .post {
    &__item {
      flex-direction: column;
      padding-bottom: 28px;
    }

    &__container-text {
      padding-left: 0;
      margin-top: 11px;
    }

    &__title {
      color: #4e4e4e;
      font-size: 14px;
      margin: 0 0 5px 0;
    }

    &__comment {
      color: #7c7c7c;
      font-size: 11px;
      margin: 0;
    }
    &__disriptions {
      display: none;
    }
  }

  .Instagram-Shots {
    background-color: white;
    padding-top: 15px;

    &__item {
      width: 301px;
      height: 301px;
    }

    &__title-link {
      display: none;
    }
  }
}
