body {
  background-image: url(../MHimg/background\ 1.png);
}
.container {
  margin: 0 auto;
  width: 1030px;
}
.container-milan-header {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.container-logo {
  padding-top: 5px;
}

.container-logo:hover .container-logo-text {
  color: #f26522;
}
.text-logo-milan {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  padding-left: 10px;
  margin: 0;
  text-transform: uppercase;
}
.text-logo-holidays {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding-left: 10px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 3px;
}
.milan-link-logo {
  position: relative;
  display: flex;
}
.milan-logo-hover {
  position: absolute;
  top: 0;
  opacity: 0;
}
.container-logo:hover .milan-logo-hover {
  opacity: 1;
}
.container-logo:hover .milan-logo {
  opacity: 0;
}
.milan-kontact-email {
  font-size: 18px;
  line-height: 18px;
}
.milan-kontact-email:hover {
  color: #f26522;
}
.milan-kontact-number:hover {
  color: #f26522;
}
.kontact-email-item {
  padding-bottom: 19px;
}
.milan-foto-link {
  position: relative;
}
.milan-kontac-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.milan-list {
  height: 560px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 62px;
  margin-top: 17px;
}
.orange-menu {
  position: absolute;
  width: 100%;
  height: 55px;
  top: 0;
  background: #f26522;
  margin-top: 165px;
  opacity: 0;
}
.milan-foto-link:hover {
  color: #f26522;
}
.text-foto {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 37px;
}
.milan-foto-link:hover .orange-menu {
  opacity: 1;
}
.orange-menu-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-top: 8px;
}
.orange-menu-text {
  margin: 0;
  font-style: normal;

  font-size: 10px;
  line-height: 10px;
  color: white;
  padding-top: 7px;
  padding-left: 16px;
}
.orange-menu-€50 {
  font-style: normal;

  font-size: 20px;
  line-height: 20px;
  color: white;
}
.orange-menu-Details {
  font-size: 14px;
  line-height: 14px;
  color: white;
  padding-right: 37px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.orange-menu-Details::after {
  content: url(../MHimg/Vector\ 1.png);
  margin-left: 16px;

  width: 5px;
  height: 10px;
}
.footer-text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 49px;
}
